---
import Pill from "../../../components/Pill.svelte";
import Base from "../../../layouts/Base.astro";
import GithubIcon from "../../../components/Icons/GithubIcon.svelte";
import PDFIcon from "../../../components/Icons/PDFIcon.svelte";
import WebIcon from "../../../components/Icons/WebIcon.svelte";
import ProductIcon from "../../../components/Icons/ProductIcon.svelte";
import { getEntry } from "astro:content";
import ProjectImage from "../../../components/Projects/ProjectImage.svelte";
import IconButton from "../../../components/IconButton.svelte";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import { getAvailableTags } from "../../../helpers.ts";

const { slug } = Astro.params;
const lang = getLangFromUrl(Astro.url);
const project = await getEntry("projects", `${lang}/${slug}`);
const fromDict = useTranslations(lang);
const allImages = project?.data?.images || [];
const { title, tags, longDescription, sections, images, url, linktype } =
  project?.data || {};
const availableTags = getAvailableTags(lang);
---

<Base title={title}>
  <div
    class="container flex flex-col items-center mx-auto place-content-center md:grid md:grid-cols-2 p-8 md:row-auto"
  >
    <h1
      class="text-4xl md:text-5xl lg:text-6xl w-full text-gray-100 mb-4 md:col-span-1 text-center hyphens-auto break-words md:px-10 px-0"
    >
      {title}
    </h1>
    <div
      class="hidden md:grid md:grid-cols-3 md:gap-8 md:mr-16 md:col-span-1 md:row-start-2"
    >
      {
        images?.map((image, index) => (
          <ProjectImage
            src={image.src}
            alt={image.alt}
            images={allImages}
            index={index}
            classes={`hidden md:block md:col-span-2  ${index % 2 === 0 ? "md:col-start-1" : "md:col-start-2"} transition-transform transform hover:scale-105 duration-300`}
            client:only="svelte"
          />
        ))
      }
    </div>

    <article class="self-start row-span-full col-start-2 mb-8 w-full">
      <div class="md:flex md:items-start md:gap-8">
        <div>
          <h2>{fromDict("projects.duration")}</h2>
          <span>{project?.data.projectDuration}</span>
          <h2>{fromDict("projects.team")}</h2>
          <span>{project?.data.team}</span>
        </div>
        <article class="md:max-w-96">
          <h2 class="text-2xl text-gray-100 mt-8 md:mt-0">
            {fromDict("projects.skills")}
          </h2>
          <div class="flex flex-wrap gap-2 mt-4">
            {
              tags &&
                tags.map((tag) => {
                  const tagData = availableTags.find((t) => t.name === tag);
                  if (!tagData) return null;
                  return <Pill color={tagData.color} description={tag} />;
                })
            }
          </div>
        </article>
      </div>
    </article>
    <div class="row-start-2 self-start">
      {
        project?.data.myParts && project.data.myParts.length > 0 && (
          <div class="mb-8">
            <h2 class="text-2xl text-gray-100 mb-4 pt-0">
              {fromDict("projects.myParts")}
            </h2>
            <ul class="text-lg text-gray-100 mb-4">
              {project.data.myParts.map((part) => (
                <li class="text-lg text-gray-100 mb-2 list-disc ml-6">
                  {part}
                </li>
              ))}
            </ul>
          </div>
        )
      }
      <p
        class="text-lg text-gray-100 md:block me-8"
        set:html={longDescription}
      />
      {
        sections?.map((section) => (
          <section class="2xl:pb-4">
            <h3 class="text-xl text-gray-100 mb-0 font-bold pt-6">
              {section.title}
            </h3>
            <p class="text-lg text-gray-100 col-span-2 lg:col-span-full lg:col-start-4 md:col-end-7 mb-0" set:html={section.body} />
          </section>
        ))
      }
      <div class="grid grid-cols-2 gap-8 md:hidden my-3 pt-6">
        {
          images?.map((image, index) => (
            <ProjectImage
              src={image.src}
              alt={image.alt}
              images={allImages!}
              interactive={false}
              index={index}
              classes="col-span-3 col-start-1 col-end-3 block md:hidden transition-transform transform hover:scale-105 duration-300 my-3"
            />
          ))
        }
      </div>
      {
        // TODO: move to typecheck whenever linktype is an enum
        url && linktype == "pdf" ? (
          <IconButton
            href={url}
            target="_blank"
            label={fromDict("srcButton.document")}
          >
            <PDFIcon />
          </IconButton>
        ) : url && linktype == "demo" ? (
          url && (
            <IconButton
              href={url}
              target="_blank"
              label={fromDict("srcButton.live")}
            >
              <WebIcon />
            </IconButton>
          )
        ) : url && linktype == "iframe" ? (
          <iframe
            src={url}
            class="w-full h-96 max-h-screen mt-10 rounded-xl border-0"
            allowfullscreen
          />
        ) : url && linktype == "product" ? (
          url && (
            <IconButton
              href={url}
              target="_blank"
              label={fromDict("srcButton.product")}
            >
              <ProductIcon />
            </IconButton>
          )
        ) : (
          url && (
            <IconButton
              href={url}
              target="_blank"
              label={fromDict("srcButton.github")}
            >
              <GithubIcon />
            </IconButton>
          )
        )
      }
    </div>
  </div>
</Base>
